<%-
   continuous =
   (message.membership_id == @last_membership_id) &&
   ((message.created_at - @last_sent_at) < 180)
-%>
<div class="message">
  <div class="col-xs-1 text-center">
    <%- if continuous -%>
      <span class="sent_at text-muted"><%= message_sent_at(message) %></span>
    <%- else -%>
      <%= image_tag(message.membership_image_url, class: 'user-icon') %>
    <%- end -%>
  </div>
  <div class="col-xs-11">
    <%- unless continuous -%>
      <span class="user_name">@<%= message.membership_name %></span>
      <span class="sent_at text-muted"><%= message_sent_at(message) %></span>
      <br/>
    <%- end -%>
    <span><%= message.content %></span>
  </div>
</div>
<%-
   @last_membership_id = message.membership_id
   @last_sent_at       = message.created_at
-%>
